#main-header{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: antiquewhite;
    background-color: rgb(57, 57, 91);
    font-family: 'Inter', sans-serif;
    /* font-family: arial,sans-serif; */
    margin: 10px;
}
#main-header h1{
    font-size: 40px;
    
}
#main-header p{
    font-size: 20px;
}

#details{
   display:flex;
   flex-direction: column;
   align-items: center;
   width:100%;
   background-color: white;
}
#job-role-text,#job-loc-text{
    font-size: 30px;
    color: rgb(57, 57, 91);
    font-family: 'Inter', sans-serif;
}
#job-role{
    border-radius:5px;
    padding:5px;
    height:30px;

}
#job-location{
    border-radius: 5px;
    padding:5px;
    height:30px;
}
.availjobs-button{
    height: 40px;
    padding: 5px;
    width: 150px;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
    border:2px solid white;
    background-color: rgb(57, 57, 91);
    color:antiquewhite;

}
.job-card{
    border:2px solid rgb(57, 57, 91);
    margin:10px;
    padding:10px;
    border-radius: 5px;
    background-color: white;
    color: rgb(57, 57, 91);

}
.job-card h2{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    
}
.job-card h4{
    font-family: 'Inter', sans-serif;
    color:gray;
    
}
.job-card p{
    font-family: 'Inter', sans-serif;
    color: black;
    
}
.job-div{
    margin:10px;

}
.heading{
    display: flex;
    justify-content: space-between;
}
.loc{
    padding-top:10px;
   
}
